body {
  background-color: #B5B5B5;
}
ul {
    z-index: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.navbar-icon {
  width: 50px;
  height: 50px;
}
.navbar-item-left {
  float: left;
}
.navbar-item-right {
  float: right;
}
.navbar-item {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}
.navbar-item:hover {
  background-color: #484848;
}
