body {
  background-color: #53B3CB;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.content {
  margin-right: 100px;
}
.glyphicon {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 10px;
}
.sidebar {
  background-color: #E01A4F;
  height: 100vh;
}
.sidebarLink {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}
.hiddenSideBar {
  width: 70px;
}
.link {
  opacity: 1;
  transition: .5s;
}
.hiddenLink {
  opacity: 0;
  transition: .5s;
}
.hamburgerIcon {
  background-color: white;
  width: 30px;
  height: 2px;
  margin: 0 auto;
  margin-top: 5px;
  transition: 1s;
}
.hamburgerFlat {
  width: 80px;
  margin: 0 auto;
  margin-top: 5px;
}
.toggleOff {
  transition: width 1s;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
}
.toggleOn {
  transition: width .5s;
  -webkit-transition: width .5s;
  -moz-transition: width .5s;
  -o-transition: width .5s;
}
