.center {
  margin: auto;
  text-align: center;
}
.pad-down {
  padding-bottom: 20px;
}
.border {
  border-color: white;
  border-width: 5px;
}
.gloworange:hover {
  -webkit-box-shadow: 0 0 20px #F15946;
  -moz-box-shadow: 0 0 20px #F15946;
  box-shadow: 0 0 20px #F15946;
  transition: .5s all;
  width: 48%;
}
.glowred:hover {
  -webkit-box-shadow: 0 0 20px #77f6ff;
  -moz-box-shadow: 0 0 20px #77f6ff;
  box-shadow: 0 0 20px #77f6ff;
  transition: .5s all;
  width: 48%;
}
.glow {
  -webkit-box-shadow: 0 0 0px #45C1E0;
  -moz-box-shadow: 0 0 0px #45C1E0;
  box-shadow: 0 0 0px #45C1E0;
  transition: .5s all;
}
.fade-slow {
  animation: opac 0.5s;
}
@keyframes opac {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-out {
  animation: opac 0.2s;
}
@keyframes opac {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-in {
  animation: opac 0.2s;
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 993px) {
  .slide {
    animation: slide 60s linear infinite;
  }
}
@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 0;
  }
}
