.center {
  margin: auto;
  text-align: center;
}
.pad-down {
  padding-bottom: 20px;
}
.fade-slow {
  animation: opac 0.5s;
}
@keyframes opac {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-out {
  animation: opac 0.2s;
}
@keyframes opac {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-in {
  animation: opac 0.2s;
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
