no-drag {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.top {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
.bottom {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.fade-out {
  animation: opac 0.2s;
}
@keyframes opac {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-in {
  animation: opac 0.2s;
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
