@import '../../variables.scss';
div{
  width: 240px;
}
.nopadding{
  padding-top: 0 !important
}
a{
  color: white !important;
  font-size: 13px !important;
}
.active{
  font-weight: bold;
}
mat-icon{
  color: $lighter-bg-color;
  margin-right: 15px;
}