@import "colors.less";

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
and (device-width: 320px) 
and (device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    .sidebarLink {
        font-size:50px;
    }
    .col-xs-offset-12{
        opacity: 0;
    }
}

body{
    background-color: @bg-color;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}
h1{
    color:@text-color;
}
.content{
    margin-right:100px;
}

.glyphicon{
    color:@icon-color;
    font-size: 20px;
    margin-top: 20px;
    margin-left:10px;
}

.sidebar {
    background-color: @navbar-color;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.sidebarLink {
    color:@icon-color;
    font-size:20px;
    text-align: center;
    padding-bottom: 20px;
    padding-top : 20px;
}
.linkContainer{
    transition: .2s;
}
.linkContainer:hover{
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.2);
    transition: .2s;
}

.hiddenSideBar{
    width:70px;
    -webkit-overflow-scrolling: touch;
}

.fixed{
    position:fixed;
    top:0px;
    height:100%;
    -webkit-overflow-scrolling: touch;
}

.link{
    opacity: 1;
    transition: .5s; 
}

.hiddenLink{
    opacity: 0;
    transition: .5s;
}

.hamburgerIcon{
    background-color: @icon-color;   
    width:30px;
    height:2px;
    margin: 0 auto;
    margin-top:5px;
    transition: 1s;
}

.hamburgerFlat{
    width:80px;
    margin: 0 auto;
    margin-top:5px;
}

.toggleOff {
    transition: width 1s;
    -webkit-transition: width 1s;        
    -moz-transition: width 1s;        
    -o-transition: width 1s;
}

.toggleOn {
    transition: width .5s;
    -webkit-transition: width .5s;        
    -moz-transition: width .5s;        
    -o-transition: width .5s;
}
.pad{
    margin : 0px;
}
.navbarOut{
    transition: .5s all;
}
.navbarIn{
    transition: 1s all;
}
