@import "colors.less";

body{
    background-color: @bg-color;
}

.content{
    margin-right:100px;
}

.glyphicon{
    color:@icon-color;
    font-size: 20px;
    margin-top: 20px;
    margin-left:10px;
}

.sidebar {
    background-color: @navbar-color;
    height: 100vh;
}

.hiddenNav{
    width:70px;
}

.hamburgerIcon{
    background-color: @icon-color;   
    width:30px;
    height:3px;
    margin: 0 auto;
    margin-top:5px;
}

.hamburgerFlat{
    width:80px;
    margin: 0 auto;
    margin-top:5px;
}

.toggleOff {
    transition: width 1s;
    -webkit-transition: width 1s;        
    -moz-transition: width 1s;        
    -o-transition: width 1s;
}

.toggleOn {
    transition: width .5s;
    -webkit-transition: width .5s;        
    -moz-transition: width .5s;        
    -o-transition: width .5s;
}
