@import "colors.less";

no-drag{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.fade-in{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}