@import "colors.less";

.center{margin:auto;text-align: center;}
.pad-down{padding-bottom: 20px;}
.border{
    border-color: @border-color;
    border-width: 5px;
}

.fade-slow{animation:opac .5s}@keyframes opac{from{opacity:1} to{opacity:0}}
.fade-out{animation:opac .2s}@keyframes opac{from{opacity:1} to{opacity:0}}
.fade-in{animation:opac .2s}@keyframes opac{from{opacity:0} to{opacity:1}}