<!doctype html>

<html lang="en">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/utils.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/hoelApp.js"></script>
<script src="js/controllers/mainController.js"></script>

<head>
</head>

<body ng-cloak ng-app="hoelApp" ng-controller="mainController as vm">

        <div>
                <div id="sidebar" class="sidebar col-xs-3" ng-class="{ 'hiddenSideBar': !vm.isNavbarOpen, 'toggleOn': vm.isNavbarOpen, 'toggleOff': !vm.isNavbarOpen }"
                        ng-click="vm.isNavbarOpen = ! vm.isNavbarOpen">
                        <div>
                                <!-- <div class="glyphicon glyphicon-menu-hamburger"/> -->
                                <div style="margin-top:20px;">
                                        <div class="hamburgerIcon" ng-class="{'hamburgerFlat': vm.isNavbarOpen, 'toggleOn': vm.isNavbarOpen, 'toggleOff': !vm.isNavbarOpen }"></div>
                                        <div class="hamburgerIcon" ng-class="{'hamburgerFlat': vm.isNavbarOpen, 'toggleOn': vm.isNavbarOpen, 'toggleOff': !vm.isNavbarOpen }"></div>
                                        <div class="hamburgerIcon" ng-class="{'hamburgerFlat': vm.isNavbarOpen, 'toggleOn': vm.isNavbarOpen, 'toggleOff': !vm.isNavbarOpen }"></div>
                                </div>
                        </div>
                        <div style="margin-top: 30px;" ng-class="{ 'hiddenLink': !vm.isNavbarOpen, 'link': vm.isNavbarOpen}">
                                        <div ng-repeat="link in vm.links" ng-style="{'background-color':link.linkcolor}" ng-click="vm.setLink($event,link)" class="linkContainer col-xs-6">
                                                <div class="sidebarLink" ng-bind="link.name" />
                                                <div class="sidebarLink overlay"></div>
                                        </div>
                                </div>

                </div>
        </div>
        <div class="container row" ng-click="vm.isNavbarOpen = false;">
                <div class="col-sm-4">
                        <div class="fade-in" ng-include="vm.selectedLink.html"></div>
                </div>
        </div>

</body>

</html>