<!doctype html>

<html lang="en">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/utils.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/hoelApp.js"></script>
<script src="js/controllers/mainController.js"></script>
<head>
</head>

<body ng-app="hoelApp" ng-controller="mainController as vm">   
     
        <div ng-if="vm.isNavbarOut" style="padding-left:250px;"/>
              <ul>  
                <li>
                       <div ng-click="vm.isNavbarOut = !vm.isNavbarOut" class="navbar-item navbar-item-left">Menu</div>
                </li>               
                <li>
                        <div class="navbar-item navbar-item-right">Luke Hoel</div>
                </li>
        </ul>
        {{vm.isNavbarOut}}
</body>

</html>
