@import "../../variables.scss";
.main{
  background-color: #1E88E5;
  background-image: url('../../../assets/images/bg.svg');
  background-attachment: fixed;
  background-size: 600px 600px;
  background-repeat: repeat;
  animation: slide 30s linear infinite;
  transition-property: background-position;
  transition: 0s linear;
}
@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -600px -600px;
  }
}
.seperator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
$triangle-size: 40px;
$bg-color: #fafafa;
.left-side {
  width: 50%;
  height: 0;
  border-right: $triangle-size solid transparent;
  border-bottom: $triangle-size solid $bg-color
}
.right-side {
  width: 50%;
  height: 0;
  border-left: $triangle-size solid transparent;
  border-bottom: $triangle-size solid $bg-color;
}
.second{
  background-color: $bg-color;
  text-align: left;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
h2{
  width: 100%;
  text-align: center;
}
.githubReposWrapper{
  // height: 500px;
  // overflow-y: auto;
  margin-bottom: 20px;
}
.githubRepos{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
app-github-repo{
  display: inline;
  width: 400px;
  opacity: 1;
  transition: opacity .2s ease;
  &:hover{
    cursor: pointer;
    opacity: .7;
  }
}
mat-icon{
  font-size: 25px;
}