@import "../../variables.scss";
app-logo {
  margin: 20px;
}
.intro {
  font-size: 25px;
  text-align: center;
  color: $text-color;
}
.main{
  background: linear-gradient(#47b, #49f5);
  background-size: 100% 500px;
  background-attachment: fixed;
}
.first {
}
.seperator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
$triangle-size: 40px;
$bg-color: #fafafa;
.left-side {
  width: 50%;
  height: 0;
  border-right: $triangle-size solid transparent;
  border-bottom: $triangle-size solid $bg-color
}
.right-side {
  width: 50%;
  height: 0;
  border-left: $triangle-size solid transparent;
  border-bottom: $triangle-size solid $bg-color;
}
.second{
  background-color: $bg-color;
  height: 300px;
}
