@import "../../variables.scss";
.main{
  background-color: #1E88E5;
  background-image: url('../../../assets/images/bg.svg');
  background-attachment: fixed;
  background-size: auto 600px;
  background-repeat: repeat;
  animation: slide 20s linear infinite;
  transition-property: background-position;
  transition: 0s linear;
}
@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px -400px;
  }
}
.seperator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
$triangle-size: 40px;
$bg-color: #fafafa;
.left-side {
  width: 50%;
  height: 0;
  border-right: $triangle-size solid transparent;
  border-bottom: $triangle-size solid $bg-color
}
.right-side {
  width: 50%;
  height: 0;
  border-left: $triangle-size solid transparent;
  border-bottom: $triangle-size solid $bg-color;
}
.second{
  background-color: $bg-color;
  height: 300px;
  text-align: left;
}
