a{
    color: black;
}
span{
    display: flex;
}
app-language{
    margin-right: 5px;
}
.githubRepoDetail{
    width: 800px;
    display: flex;
    flex-direction:column;
}
.backButton{
    align-self: flex-end;

}