$dark-bg-color: #212121;
$light-bg-color: #424242;
$lighter-bg-color: #757575;
$text-color: white;
$icon-color: #ef5350;
$text-drop-shadow: 6px 6px 0px rgba(0,0,0,0.2);
$not-quite-black: rgba(0,0,0,.87);
