@import '../../../variables.scss';
div{
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: $icon-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-icon{
  color: $darker-bg-color;
  font-size: 80px;
  width: 80px;
  height: 80px;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}