<!doctype html>

<html lang="en">

<head>
</head>

<body style="margin:auto;">
    <h1>Gallery</h1>
    <p style="text-align:center;">These are some of my design works that I've made over the years, all of which you can download</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" ng-repeat="project in vm.getJson(2)">
                <h2 ng-bind="project.name" class="whitetext" />                  
                <img ng-src="{{project.svg}}" class="img-responsive">
                <p ng-bind="project.description"/>
                <a ng-if="project.link == null" style="padding:10px;" ng-hide="vm.isSmallScreen()"target="_self" ng-href="{{project.png}}" download="{{project.name}}" name="file.png">Download File</a>
                <a ng-hide="project.link == null" style="padding:10px;" target="_blank" ng-href="{{project.link}}">Visit</a>               
            </div>
        </div>
    </div>
</body>

</html>