<!doctype html>

<html lang="en">

<head>
</head>

<body ng-cloak style="margin:auto;">
    <img src="assets/jim.svg" class="fade-slow img-responsive" style="margin:auto;margin-top:5%;width:50%;height:auto;" />
    <h1 class="center">Hi</h1>
    <h1 class="center pad-down">I'm Luke</h1>
    <h2 class="center">I am a developer, as well as a designer</h2>
    <!--Layout from layoutit. I suck at layout...ing-->
    <div class="container-fluid pad-down" style="margin-top:20px;margin-bottom:20px;">
        <div class="row">

            <div class="col-md-6 float-left color" style="cursor: pointer">
                    <img ng-click="vm.selectedLink = vm.links[1]"src="assets/code.svg" class="img-responsive glow gloworange" style="float:right;width:45%;background-color:#F15946;"/>
            </div>
            <div class="col-md-6 color" style="cursor: pointer">
                <img ng-click="vm.selectedLink = vm.links[1]" src="assets/brasov.svg" class="img-responsive glow glowred" style="width:45%;background-color:#13BF63;"/>
            </div>
        </div>
    </div>
</body>

</html>