<!doctype html>

<html lang="en">

<head>
</head>

<body style="margin:auto;">
    <h1>Professional</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" ng-repeat="job in vm.getJson(3)">
                <h2 ng-bind="job.name"/>
                <p ng-bind="job.time" style="text-align:center;"/>                  
                <img ng-src="{{job.svg}}" class="img-responsive" style="background-color:white;padding:10px;"/>
                <p style="text-align:center;" ng-bind="job.description"/> 
                <h2 style="text-align:left;">Languages & Frameworks</h2>
                <p ng-repeat="tech in job.tech" ng-bind="'&#9679; ' + tech"></p>           
            </div>
        </div>
    </div>
</body>

</html>
