<!doctype html>

<html lang="en">

<head>
</head>

<body ng-if="vm.pageLoaded"style="margin:auto;">
    <h1>Projects</h1>
    <div id ="page" class="container-fluid">
        <div class="row">
            <div class="col-md-6" ng-repeat="project in vm.json">
                <h2 ng-bind="project.name"/>                  
                <img alt="Bootstrap Image Preview" ng-src="{{project.photo}}" class="img-responsive"/>
                <p ng-bind="project.description"/>
                <a style="padding:10px;"ng-hide="vm.isSmallScreen() || project.file == 'none'"target="_self" ng-href="{{project.file}}" download="{{project.file}}">Download File</a>
            </div>
        </div>
    </div>

</body>
<i ng-hide="vm.pageLoaded"class="fa fa-spinner fa-spin" style="font-size:50px;"></i>
</html>