<div class="fade-in">
  <div class="main">
    <div class="first">
      <app-intro-section></app-intro-section>
      <div class="seperator">
        <div class="left-side"></div>
        <div class="right-side"></div>
      </div>
    </div>
    <div class="second">
      <h2>Here's what I've been working on</h2>
      <div class="githubReposWrapper">
        <div class="githubRepos">
          <ng-container *ngIf="!selectedGithubRepo">
            <app-github-repo *ngFor="let repo of githubRepos" (click)="selectedGithubRepo = repo" [githubRepo]="repo">
            </app-github-repo>
          </ng-container>
          <app-github-repo-detail *ngIf="selectedGithubRepo" [githubRepo]="selectedGithubRepo"
            (back)="selectedGithubRepo=null">
          </app-github-repo-detail>
        </div>
      </div>
      <h2>Here are some of my recent blog posts</h2>
      <app-blogs></app-blogs>
    </div>
  </div>
</div>